<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.html') %>
	<title><%= process.env.SITE_NAME %> - Banned</title>
</head>
<body>
	<section class="vh-100 gradient-custom">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-dark text-white" style="border-radius: 5px;">
						<div class="card-body p-5 text-center">
							<div class="mb-md-5 mt-md-4 pb-5">
								<h1 class="fw-bold mb-2 text-uppercase btn-shine" style="text-shadow: 0 0 2.5px">
									<%= process.env.SITE_NAME %>
								</h1>
								<br>
								<h3 class="mb-1 text-uppercase btn-shine">
									<%= username %>
								</h3>
								<h5 class="mb-1 text-uppercase btn-shine" style="color: darkred;">
									Your account has been banned.
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>