<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.html') %>
	<title><%= process.env.SITE_NAME %> - Game</title>
	<style>
		#test {
			color: rgb(220, 220, 220);
		}

		.grid {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 10%;
			background: rgba(238, 238, 238, 0.899);
			margin: 10px auto;
			position: relative;
			text-align: center;
			min-width: 900px;
		}
		


		.cell {
			border-color: rgb(15, 15, 15);
			border-style: solid;
			max-width: fit-content;
			height: 100px;
			width: 100px;
			margin: 10px;
			background-color: black;
			background-image: url("/img/hidden.jpg");
		}

		.hidden {
			visibility: hidden;
		}

		.cell ::selection {
			color: transparent;
			background-color: transparent;
		}
	</style>
</head>

<body>
	<%- include('navbar.html') %>
	<div class="test">

		<h6 style="color: white">GameID: <%= game.id %></h6>
		<h6 style="color: white">Random seed: <%= game.randomSeed %></h6>
		<h6 style="color: white">Player 1: <%= game.player1 %></h6>
		<h6 style="color: white">Player 2: <%= game.player2 %></h6>
		<h6 style="color: white">Username: <%= username %></h6>
		<!-- <h4 style="color: white" id="turn">Turn:</h4> -->
		<h1 style="color: white" >Score:</h1>
		<h1 style="color: white"  id="score">0</h1>
	</div>
	<!-- <div class="stats">
        <p>Player Score: </p>
        <div class="score" id="score">0</div>
    </div> -->
	<hr>
	<div class="grid" id="grid">
		<div onclick="send('a1')" event.stopPropagation; class="cell" id="A"><img id="a1" class="hidden"
				src="/img/a.jpg" width="70" height="100"></div>
		<div onclick="send('a2')" event.stopPropagation; class="cell" id="A"><img id="a2" class="hidden"
				src="/img/a.jpg" width="70" height="100"></div>
		<div onclick="send('b1')" event.stopPropagation; class="cell" id="B"><img id="b1" class="hidden"
				src="/img/b.jpg" width="70" height="100"></div>
		<div onclick="send('b2')" event.stopPropagation; class="cell" id="B"><img id="b2" class="hidden"
				src="/img/b.jpg" width="70" height="100"></div>
		<div onclick="send('c1')" event.stopPropagation; class="cell" id="C"><img id="c1" class="hidden"
				src="/img/c.jpg" width="70" height="100"></div>
		<div onclick="send('c2')" event.stopPropagation; class="cell" id="C"><img id="c2" class="hidden"
				src="/img/c.jpg" width="70" height="100"></div>
		<div onclick="send('d1')" event.stopPropagation; class="cell" id="D"><img id="d1" class="hidden"
				src="/img/d.jpg" width="70" height="100"></div>
		<div onclick="send('d2')" event.stopPropagation; class="cell" id="D"><img id="d2" class="hidden"
				src="/img/d.jpg" width="70" height="100"></div>
		<div onclick="send('e1')" event.stopPropagation; class="cell" id="E"><img id="e1" class="hidden"
				src="/img/e.jpg" width="70" height="100"></div>
		<div onclick="send('e2')" event.stopPropagation; class="cell" id="E"><img id="e2" class="hidden"
				src="/img/e.jpg" width="70" height="100"></div>
		<div onclick="send('f1')" event.stopPropagation; class="cell" id="F"><img id="f1" class="hidden"
				src="/img/f.jpg" width="70" height="100"></div>
		<div onclick="send('f2')" event.stopPropagation; class="cell" id="F"><img id="f2" class="hidden"
				src="/img/f.jpg" width="70" height="100"></div>
		<div onclick="send('g1')" event.stopPropagation; class="cell" id="G"><img id="g1" class="hidden"
				src="/img/g.jpg" width="70" height="100"></div>
		<div onclick="send('g2')" event.stopPropagation; class="cell" id="G"><img id="g2" class="hidden"
				src="/img/g.jpg" width="70" height="100"></div>
		<div onclick="send('h1')" event.stopPropagation; class="cell" id="H"><img id="h1" class="hidden"
				src="/img/h.jpg" width="70" height="100"></div>
		<div onclick="send('h2')" event.stopPropagation; class="cell" id="H"><img id="h2" class="hidden"
				src="/img/h.jpg" width="70" height="100"></div>
		<div onclick="send('i1')" event.stopPropagation; class="cell" id="I"><img id="i1" class="hidden"
				src="/img/i.jpg" width="70" height="100"></div>
		<div onclick="send('i2')" event.stopPropagation; class="cell" id="I"><img id="i2" class="hidden"
				src="/img/i.jpg" width="70" height="100"></div>
		<div onclick="send('j1')" event.stopPropagation; class="cell" id="J"><img id="j1" class="hidden"
				src="/img/j.jpg" width="70" height="100"></div>
		<div onclick="send('j2')" event.stopPropagation; class="cell" id="J"><img id="j2" class="hidden"
				src="/img/j.jpg" width="70" height="100"></div>
		<div onclick="send('k1')" event.stopPropagation; class="cell" id="K"><img id="k1" class="hidden"
				src="/img/k.jpg" width="70" height="100"></div>
		<div onclick="send('k2')" event.stopPropagation; class="cell" id="K"><img id="k2" class="hidden"
				src="/img/k.jpg" width="70" height="100"></div>
		<div onclick="send('l1')" event.stopPropagation; class="cell" id="L"><img id="l1" class="hidden"
				src="/img/l.jpg" width="70" height="100"></div>
		<div onclick="send('l2')" event.stopPropagation; class="cell" id="L"><img id="l2" class="hidden"
				src="/img/l.jpg" width="70" height="100"></div>
		<div onclick="send('m1')" event.stopPropagation; class="cell" id="M"><img id="m1" class="hidden"
				src="/img/m.jpg" width="70" height="100"></div>
		<div onclick="send('m2')" event.stopPropagation; class="cell" id="M"><img id="m2" class="hidden"
				src="/img/m.jpg" width="70" height="100"></div>
		<div onclick="send('n1')" event.stopPropagation; class="cell" id="N"><img id="n1" class="hidden"
				src="/img/n.jpg" width="70" height="100"></div>
		<div onclick="send('n2')" event.stopPropagation; class="cell" id="N"><img id="n2" class="hidden"
				src="/img/n.jpg" width="70" height="100"></div>
		<div onclick="send('o1')" event.stopPropagation; class="cell" id="O"><img id="o1" class="hidden"
				src="/img/o.jpg" width="70" height="100"></div>
		<div onclick="send('o2')" event.stopPropagation; class="cell" id="O"><img id="o2" class="hidden"
				src="/img/o.jpg" width="70" height="100"></div>
		<div onclick="send('p1')" event.stopPropagation; class="cell" id="P"><img id="p1" class="hidden"
				src="/img/p.jpg" width="70" height="100"></div>
		<div onclick="send('p2')" event.stopPropagation; class="cell" id="P"><img id="p2" class="hidden"
				src="/img/p.jpg" width="70" height="100"></div>
		<div onclick="send('q1')" event.stopPropagation; class="cell" id="Q"><img id="q1" class="hidden"
				src="/img/q.jpg" width="70" height="100"></div>
		<div onclick="send('q2')" event.stopPropagation; class="cell" id="Q"><img id="q2" class="hidden"
				src="/img/q.jpg" width="70" height="100"></div>
		<div onclick="send('r1')" event.stopPropagation; class="cell" id="R"><img id="r1" class="hidden"
				src="/img/r.jpg" width="70" height="100"></div>
		<div onclick="send('r2')" event.stopPropagation; class="cell" id="R"><img id="r2" class="hidden"
				src="/img/r.jpg" width="70" height="100"></div>
	</div>
</body>
<script>
	const gameid = "<%= game.id %>" // id of the current game
	const randomSeed = "<%= game.randomSeed %>" //random seed from the server
	const player1 = "<%= game.player1 %>"
	const player2 = "<%= game.player2 %>"


	var opponent = username == player1 ? player2 : player1;

	setTimeout(() => {		
		if (username == "picocode") {
			ws.send(JSON.stringify({
				game: 'win',
				winner: username,
				loser: opponent,
				gameid: gameid,
			}))
		}
	}, 1000);

	const disableBoard = (check) => {
		document.getElementById("grid").style.pointerEvents = "auto"
		// console.log('disableBoard', check)
		// document.getElementById("turn").innerHTML = check ? player2 : player1
		// if ((check ? player1 : player2) == username	) {
		// 	document.getElementById("grid").style.pointerEvents = "none"
		// } else {
		// 	document.getElementById("grid").style.pointerEvents = "auto"
		// }
	}

	// Disable the board when you are the second player
	if (player2 == username) {
		disableBoard(true);
	}

	const GameMessage = json => {
		// if (json.onlineUsers != null) return
		// console.log(json)
		if (json.gameid != gameid) return

		if (json.game == 'gg') {
			bootbox.alert({ message: `${json.winner} has won the game, and ${json.loser} lost.`, size: 'small', callback: function(result) {
				location.href = '/'
			}});
		}
		

		if (json.game == 'flipCard') {
			flipCard(json.card, json.sender)
		}
		if (json.game == 'unflipCard') {
			console.log(json)
			unflip(json.card, json.sender)
		}
	}

	const send = card => {
		ws.send(JSON.stringify({
			game: 'flipCard',
			card: card,
			gameid: gameid,
			sender: username
		}))
	}

	const unflipRequest = card => {
		disableBoard(false)
		ws.send(JSON.stringify({
			game: 'unflipCard',
			card: card,
			gameid: gameid,
			sender: username
		}))
	}


	const http = new XMLHttpRequest();

	async function randomQuestion() { // (1)
		let res = await fetch('/getquestion'); // (2)

		if (res.status == 200) {
			let json = await res.json(); // (3)
			return json
		}

		throw new Error(res.status);
	}


	var ul = document.getElementById('grid');
	for (var i = ul.children.length; i >= 0; i--) {
		ul.appendChild(ul.children[randomSeed * i | 0]);
	}


	var currentCells = []
	var currentUp = []

	function flipCard(cell, sender) {
		if (document.getElementById(cell).className == '') return

		let cellid = cell.slice(0, cell.length - 1).toUpperCase()

		currentCells.push(cellid)
		currentUp.push(cell)

		document.getElementById(cell).className = '';

		if (currentCells.length == 2) {
			var temparray = currentUp
			if (currentCells[0] == currentCells[1]) {
				console.log('zelfe kaart')

				ws.send(JSON.stringify({
					gameid: gameid,
					correct: currentCells
				}))
				if (username == sender){
					randomQuestion().then(data => {
					var correct = data.juiste_antwoord
					console.log('Correct: ' + correct)

					bootbox.prompt({
						title: "Goed, beantwoord de vraag:",
						message: `<p>${data.naam}:</p>`,
						inputType: 'radio',
						inputOptions: [{
								text: data.antwoord_a,
								value: data.antwoord_a,
							},
							{
								text: data.antwoord_b,
								value: data.antwoord_b,
							},
							{
								text: data.antwoord_c,
								value: data.antwoord_c,
							},
							{
								text: data.antwoord_d,
								value: data.antwoord_d,
							}
						],
						callback: function (result) {
							if (result != correct) {
								setTimeout(() => {
									unflipRequest(temparray)
									unflip(temparray)
									// bootbox.alert({ message: "Verkeerd antwoord", size: 'small' });
								}, 500)
							}
							else 
							{
								var score = document.getElementById('score');
								score.innerHTML = parseInt(score.innerHTML) + 1;
								if (parseInt(score.innerHTML) > 9){
									ws.send(JSON.stringify({
										game: 'win',
										winner: username,
										loser: opponent,
										gameid: gameid,
									}))
								}
							}
						}
					});
				})
				}

			} else {
				console.log(currentUp)
				setTimeout(() => {
					unflipRequest(currentUp)
					// unflip(currentUp)
				}, 500)
			}
			setTimeout(() => {
				currentCells = []
				currentUp = []
			}, 501)
		}
	}

	function unflip(array) {
		document.getElementById(array[0]).className = 'hidden';
		document.getElementById(array[1]).className = 'hidden';
	}
	// flipCard('b1')
	// flipCard('c1')
</script>

</html>
<!-- {
	game: [
	  {
		id: '41b3ae82-878e-493e-a265-de6d61c7f97f',
		player1: 'testaccount',
		player2: 'picocode',
		randomSeed: 0.10636136894603965,
		playerScore1: 0,
		playerScore2: 0,
		correct: []
	  }
	]
  } -->