<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.html') %>
	<title><%= process.env.SITE_NAME %> - Game</title>
</head>

<body>
	<%- include('navbar.html') %>
	<h1 style="color: white">GameID: <%= game.id %></h1>
	<h1 style="color: white">Random seed: <%= game.randomSeed %></h1>
	<h1 style="color: white">Player 1: <%= game.player1 %></h1>
	<h1 style="color: white">Player 2: <%= game.player2 %></h1>
	<!-- players -->
	<button id="flip">Flip card</button>
</body>
<script>
	const gameid = "<%= game.id %>" // id of the current game
	const randomSeed = "<%= game.randomSeed %>" //random seed from the server
	const player1 = "<%= game.player1 %>"
	const player2 = "<%= game.player2 %>"
	const username = "<%= username %>" // logged in username

	const GameMessage = json => {
		if (json.onlineUsers != null) return
		console.log(json)

		if (json.game.flipCard != null) {
			flipCard(json.game.flipCard)
		}
	}

	document.getElementById("flip").addEventListener("click", function() {
		ws.send(JSON.stringify({
			game: {
				id: gameid,
				flipCard: Math.random()
			}
		}));
	});

	function flipCard(id) {
		console.log(id)
	}

</script>
</html>

<!-- {
	game: [
	  {
		id: '4ab832d4-29b1-493d-8582-a7efcdd315ca',
		player1: 'testaccount',
		player2: 'picocode'
	  }
	]
  } -->