<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="p-3 navbar-brand fw-bold text-uppercase gloweffect" href="/dashboard" style="color: white; font-size: 200%;"><%= process.env.SITE_NAME %></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggle" aria-controls="navtoggle" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	<div class="navbar-collapse collapse" id="navtoggle">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/dashboard">Dashboard</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/leaderboard">Leaderboard</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/online">Online users</a>
			</li>
		</ul>

		<!-- Show username -->

		<!-- <ul class="nav justify-content-center">
			<li class="nav-item">
				<% if (admin) { %>
					<pre class="fw-bold mb-0 text-uppercase btn-shine" style="text-shadow: 0 0 2.5px; color: rgb(21, 255, 0);">
						Welcome admin!
					</pre>
				<% } else{ %>  
					<pre class="fw-bold mb-0 text-uppercase btn-shine" style="text-shadow: 0 0 2.5px; color: white;">
						Logged in as <%=username %>
					</pre>
				<% } %>
			</li>
		</ul> -->
		
		<!-- Right side of navbar -->
		<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
			<li class="nav-item">
				<a class="nav-link" href="/logout">logout</a>
			</li>
		<% if (admin) { %>
			<li class="nav-item active">
			<% if (process.env.INVITE_ONLY == "true") { %>
				<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
			<% } else { %>  
				<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
			<% } %>
				<a class="checkbox-text">Invite system</a>
			</li>

			<li class="nav-item active" id="invite_generate"></li>
		<% } %>
		</ul>
		
	</div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

<script>
	const username = "<%= username %>"
	const ws = new WebSocket('ws://192.168.178.206:1000?username=' + username)
	
	// Heartbeat
	ws.onopen = (event) => {
		setInterval(() => {
			ws.send(JSON.stringify({
				heartbeat: true,
				username: username
			}))
		}, 500)
	};

	ws.onmessage = (event) => {
		var json = JSON.parse(event.data)
		// console log URL
		var url = new URL(location.href).pathname

		if (url == '/online') UpdateUsers(json)
		
		// console.log(json.newGame)
		if (json.onlineUsers == undefined) {
			console.log(json)
		}
		if (json.gameId != undefined) {
			if (json.players.includes(username)) {
				location.href = '/game/' + json.gameId
			}
			return
		}

		if (json.sender != null && json.receiver != null && json.receiver == username) {
				bootbox.confirm(`${json.sender} challenged you, do you accept?`, function(result){ 
				if (result) {
					// Challenge user
					ws.send(JSON.stringify({
						newGame: [username, json.sender]
					}))
				}
			});
		}
	}

</script>

<% if (admin) { %>
	<script>
		$(document).ready(function() {

			var INVITE_ONLY = JSON.parse('<%= process.env.INVITE_ONLY %>')
			$('.form-check-input').prop('checked', JSON.parse(INVITE_ONLY));

			if (INVITE_ONLY){
				document.getElementById('invite_generate').innerHTML = '<a id="invite" class="nav-link" href="#">Generate invite</a>';
			}
			$('.form-check-input').click(function(){
				// const env = require('../functions/env.function.js');
				// env.update('INVITE_ONLY', 'false')
				//this.checked
				let switched = this.checked ? 'enable' : 'disable';
				bootbox.prompt({
					title: `Type your password to ${switched} the invite system.`,
					inputType: 'password',
					callback: function (password) {
						if (password == null) {
							$('.form-check-input').prop('checked', INVITE_ONLY)
							return
						}
						$.post('/user/invite', {
								username: username,
								password: password,
								inviteSwitch: $('.form-check-input').prop('checked')
						}, function(data) {
							if (data.success){
								bootbox.alert({
									message: `${data.message}`,
									size: 'large'
								});
								if (data.message.split(': ')[1] == "true") {
									document.getElementById('invite_generate').innerHTML = '<a id="invite" class="nav-link" href="#">Generate invite</a>';
								}
								else document.getElementById('invite_generate').innerHTML = ''
							}
							else
							{
								bootbox.alert({
									message: `${data.message}`,
									size: 'small'
								});
								$('.form-check-input').prop('checked', INVITE_ONLY)
							}
						})
					}
				});
			})

			$('#invite').click(function(){
				bootbox.prompt({
					title: "Type your password to generate an invite code.",
					inputType: 'password',
					callback: function (password) {
						if (password == null) return
						$.post('/invite/create', {
								username: username,
								password: password
						}, function(data) {
							if (data.success){
								bootbox.alert({
									message: `${data.message}: ${data.code}`,
									size: 'large'
								});
							}
							else bootbox.alert({ message: `${data.message}`,	size: 'small'});
						})
					}
				});
			});
		});
	</script>
<% } %>