<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('header.html') %>
	<title><%= process.env.SITE_NAME %> - Online</title>
</head>

<body>
	<%- include('navbar.html') %>
	<div style="color: white;">
		<table id="onlineUsers">
			<tr>
			  <td>Online users:</td>
			</tr>
		</table>
		<br>
	</div>

	<script>
		$("#onlineUsers").click(function(e) {
			if (e.target.id == username) {
				bootbox.alert({ message: "You cannot challenge yourself", size: 'small' });
				return
			}
			if (e.target.id.length) {
				bootbox.confirm(`Do you wanna challenge ${e.target.id}?`, function(result){ 
					if (result) {
						// Challenge user
						ws.send(JSON.stringify({
							sender: username,
							receiver: e.target.id,
						}))
					} 
				});
			}
		});

		var table = document.getElementById("onlineUsers");
		
		var UpdateUsers = json => {
			if (json.onlineUsers) {
				var onlineUsers = json.onlineUsers.sort()
	
				table.innerHTML = "<tr><td>Online users:</td></tr>";
				for (let i = 0; i < json.onlineUsers.length; i++) {
					var row = table.insertRow(-1);
					var cell1 = row.insertCell(0);
					cell1.innerHTML = `<a href="#" id="${json.onlineUsers[i]}">${json.onlineUsers[i]}</a>`;
				}
				return
			}
			console.log(json)
		}

	</script>
</body>
</html>