body {
	background: rgb(18 20 22);
}

.bootbox-close-button {
	display: none;
}

.modal-footer {
	border-top: 0
}

.bootbox-body {
	text-align: center;
}

.checkbox-text {
	text-decoration: none;
	color: white !important;
	position: relative;
	top: 6px;
}

.form-check-input[type=checkbox] {
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
}

.gloweffect {
	/* text-shadow: 0 0 2.5px; */
	/* use animiation gloweffect */
	animation: gloweffect 1s infinite;
	color: green;
}

@keyframes gloweffect{
	0%{
		text-shadow: 0 0 0px
	}
	25%{
		text-shadow: 0 0 3.5px
	}
	50%{
		text-shadow: 0 0 3.5px
	}
	100%{
		text-shadow: 0 0 0px
	}
}

.admin {
	color: rgb(21, 255, 0);
}

.moderator {
	color: rgb(251, 255, 0);
}

.currentUser {
	color: rgb(0, 94, 255);
}

.bannedUser {
	color: rgb(255, 0, 0);
}

.user {
	color: white
}

td>a {
	position: relative;
}

td>a:hover::before {
	font-weight: bold;
	content: "Challenge";
	position: absolute;
	top: 0em;
	right: -5.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5%;
	background: rgb(0, 94, 255);
	color: white;
}

#leaderboard {
	color: white;
	font-size: 150%;
}
#leaderboard table, #leaderboard th, #leaderboard td {
	border: 1px solid rgb(210, 210, 210);
	border-collapse: collapse;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}